html {
    background-image: url("hatter.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: sans-serif , "Helvetica";
    font-size: 25px;

}
body {
    margin: 0 auto;
}

#fejlec{
    position: relative;
    margin: 0 auto;
    top: 10px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    font-variant: small-caps;
}

#flexkontener{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    /*font-size: 30px;*/
    /*text-align: center;*/
}

#jatekter {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: lightgoldenrodyellow;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

#kozepso{
    position: relative;
    text-align: center;
    top: 50px;
    /*float: left;*/
    /*width: 33%;*/
    flex: 40%;
}
#lepesek {
    padding-top: 10px;
    color: lightgoldenrodyellow;
    font-size: 22px;
}
#ido{
    color: lightgoldenrodyellow;
    font-size: 16px;
}
#hszint{
    padding-bottom: 5px;
    display: block;
}
#info{
    padding: 0;
    font-size: 16px;
    color: red;
}
.lampa{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(205, 205, 152);
    border-radius: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 6px #999;
    margin: 0 auto;
    z-index: 1;
}
.lampa:active{
    box-shadow: 1px 4px #666;
    transform: translateY(4px);
}
.lampa:hover{
    border: black 2px solid;
}
#nyert{
    position: absolute;
    top: 130px;
    left: 100px;
    width: 200px;
    height: 80px;
    z-index: 5;
    background-color: #d5d391;
    border-radius: 3px;
    border: black 2px solid;
    text-align: center;
    margin: auto;
    padding: 50px 0 0 0;
    visibility: hidden;
}
#szabalyleiras{
    position: absolute;
    top: 40px;
    left: 30px;
    width: 300px;
    height: auto;
    z-index: 5;
    background-color: #d5d391;
    border-radius: 3px;
    border: black 2px solid;
    text-align: justify;
    font-size: 16px;
    margin: auto;
    padding: 1px 15px 1px 15px;
}
#szabalyleiras p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#bal{
    /*width: 33%;*/
    height: 400px;
    /*border: black 2px solid;*/
    /*float: left;*/
    position: relative;
    top: 15px;
    flex: 30%;
}
#szintek {
    position: absolute;
    text-align: center;
    margin: 0 auto;
}
.gombok {
    border-radius: 5px;
    border: black 1px solid;
    cursor: pointer;
    text-align: center;
    /*margin: 5px;*/
    padding: 8px;
    width: 150px;
    display: block;
    margin: 10px 10px 10px auto;
    background-color: #b3dd79;
}
#szabaly{
    margin-top: 90px;
    margin-bottom: 50px;
}
.gombok:hover{
    border: black 3px solid;
}

#jobb{
    /*float: left;*/
    /*width: 30%;*/
    /*border: black 2px solid;*/
    flex: 30%;
    height: 400px;
    position: relative;
    top: 45px;
    padding-top: 30px;
    padding-left: 10px;
}

#csiga{
    height: 100px;
    position: absolute;
    left: 0;
    top: 600px;
}

#lista{
    font-size: 20px;
    padding-left: 10px;
}

